.board {
  padding-top:20px;
  padding-bottom:20px;
  position: relative;
  width: 100%;
  overflow: hidden;
  .pick {
    height: 40px;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 5px;
    border: 1px solid black;
    width: 100%;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
    cursor: grab;
    user-select: none;
    background: linear-gradient(to bottom,#141b21 0%,#41494f 50%,#141b21 100%);
    color: white;
    .confidence {
      padding-left: 40px;
      float: left;
      height: 100%;
      background: transparent url(http://mfl.hazelknot.com/images/movewhite.svg) 3px center/auto 80% no-repeat;
      width: 70px;
      line-height: 40px;
      font-size: 20px;
      font-weight: bold;
      padding-right: 7px;
    }
    .match {
      font-size: 15px;
      line-height: 15px;
      padding-top: 3px;
      .teamname {

      }
      .oteamname {
        font-size: 10px;
      }
    }
    .kickoff {
      font-size: 10px;
    }

    &.oselected {
      background: linear-gradient(to bottom,#1b2617 0%,darken(#3f5737, 20%) 51%);
    }
    &.selected {
      background: linear-gradient(to bottom,#1b2617 0%,#3f5737 51%);
      cursor: auto;
      .confidence {
        background-image:url(http://mfl.hazelknot.com/images/movegrey.svg);
      }
    }
  }
  .hometeams {
    width: 25%;
    float: left;
    margin-left: 5%;
    margin-right: -30%;

  }
  .awayteams {
    width: 25%;
    float: left;
    margin-left: 35%;
    margin-right: -60%;
  }

  .picks {
    width: 25%;
    float: left;
    margin-left: 70%;
    margin-right: -95%;
    background-color:#3f5737;
    min-height: 30px;
    .removing {

      background: linear-gradient(to bottom,#400406 0%,#7A4419 51%);
    }
    .locked {
      .confidence {
        background-image:url(http://mfl.hazelknot.com/images/movegrey.svg);
      }

    }
  }

  .hometeams, .awayteams {

  }


}

@media only screen and (max-width: 62.500em) {
  #homepagecolumn1, #homepagecolumn2, #homepagecolumn3, #homepagecolumn4, #homepagecolumn5, #homepagecolumn6, #homepagecolumn7, #homepagecolumn8, .two_column_layout, table.h2hmatchups, table.scoresummary, .mobile-view {
    width: 100% !important;
    float: left
  }
}

input[type=submit]:hover:disabled {
  background-color: #0d140b;
  cursor: not-allowed;
}

.confidence-table {
  display: none;
}