.board {
  position: relative;
  width: 100%;
  overflow: hidden;
  .pick {
    height: 50px;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 5px;
    border: 1px solid black;
    width: 100%;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
    cursor: grab;
  }
  .hometeams {
    width: 20%;
    float: left;
    margin-left: 10%;
    margin-right: -30%;

  }
  .awayteams {
    width: 20%;
    float: left;
    margin-left: 35%;
    margin-right: -55%;
  }

  .picks {
    width: 20%;
    float: left;
    margin-left: 70%;
    margin-right: -90%;
  }

  .hometeams, .awayteams {
    .pick.selected {
      border-color: grey;
      cursor: auto;
    }
  }


}