/*
body{
	background-color : black;
}

ul#homepagetabs{
    background-color: black;
    border-bottom: 1px solid #ccc;
}

ul#homepagetabs li{
    color: black;

                        
}

ul#homepagetabs li.currenttab{
            border-right: 1px solid #ccc;
                border-left: 1px solid #ccc;
                        border-top: 1px solid #ccc;
}

.brandlogo *{
    display:none;
}
td.welcome{
    color:#ccc;
}

td.pagetitle h1{
    color:#ccc;
}*/
/*Menu  Formatting*/
/*
.mainmenuoff, a.mainmenuoff:hover, a.mainmenuoff:link, a.mainmenuoff:visited, a.mainmenuoff:active {
	background-image: url('http://www.myfootballpicks.org/mfl/images/menuoff.png');
	height	:	20px;
	vertical-align	:	middle;
	color	:	#FFFFFF;
}

.mainmenuon, a.mainmenuon:hover, a.mainmenuon:link, a.mainmenuon:visited, a.mainmenuon:active {
	background-image: url('http://www.myfootballpicks.org/mfl/images/menuon.png');
	height	:	20px;
	vertical-align	:	middle;
	color	:	#f4951f;
}
.mainmenucurrent {
	background-image: url('http://www.myfootballpicks.org/mfl/images/menuoff.png');
	height	:	20px;
	vertical-align	:	middle;
	color	:	#FFFFFF;
}




caption {
	background-image: url('http://www.myfootballpicks.org/mfl/images/menuon.png');
	background-repeat:repeat-x;
}
th{
	background-image: url('http://www.myfootballpicks.org/mfl/images/menuoff.png');
	background-repeat:repeat-x;
}
.brandlogo {
	text-align:left;
}*//*
body#body_options_121{
    form{
        table{
          //  &, thead, tbody, tr, th, td{ display: block;};
         }
         }
    
}

*/