/* line 1, web/scss/style.scss */
.board {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* line 5, web/scss/style.scss */
.board .pick {
  height: 50px;
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 5px;
  border: 1px solid black;
  width: 100%;
  overflow: hidden;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 16, web/scss/style.scss */
.board .hometeams {
  width: 20%;
  float: left;
  margin-left: 10%;
  margin-right: -30%;
}

/* line 23, web/scss/style.scss */
.board .awayteams {
  width: 20%;
  float: left;
  margin-left: 25%;
  margin-right: -55%;
}

/* line 30, web/scss/style.scss */
.board .picks {
  width: 20%;
  float: left;
  margin-left: 70%;
  margin-right: -90%;
}

/* line 38, web/scss/style.scss */
.board .hometeams .pick.selected, .board .awayteams .pick.selected {
  border-color: transparent;
  color: transparent;
}