/* line 1, web/scss/style.scss */
.board {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* line 5, web/scss/style.scss */
.board .pick {
  height: 50px;
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 5px;
  border: 1px solid black;
  width: 100%;
  overflow: hidden;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* line 18, web/scss/style.scss */
.board .hometeams {
  width: 20%;
  float: left;
  margin-left: 10%;
  margin-right: -30%;
}

/* line 25, web/scss/style.scss */
.board .awayteams {
  width: 20%;
  float: left;
  margin-left: 35%;
  margin-right: -55%;
}

/* line 32, web/scss/style.scss */
.board .picks {
  width: 20%;
  float: left;
  margin-left: 70%;
  margin-right: -90%;
  background-color: #acacac;
  min-height: 30px;
}

/* line 42, web/scss/style.scss */
.board .hometeams .pick.selected, .board .awayteams .pick.selected {
  border-color: grey;
  cursor: auto;
}

@media only screen and (max-width: 62.5em) {
  /* line 52, web/scss/style.scss */
  #homepagecolumn1, #homepagecolumn2, #homepagecolumn3, #homepagecolumn4, #homepagecolumn5, #homepagecolumn6, #homepagecolumn7, #homepagecolumn8, .two_column_layout, table.h2hmatchups, table.scoresummary, .mobile-view {
    width: 100% !important;
    float: left;
  }
}