/* line 1, web/scss/style.scss */
.board {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* line 5, web/scss/style.scss */
.board .pick {
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  margin-bottom: 5px;
  border: 1px solid black;
  width: 100%;
}

/* line 14, web/scss/style.scss */
.board .hometeams {
  width: 20%;
  float: left;
  margin-left: 10%;
  margin-right: -30%;
}

/* line 21, web/scss/style.scss */
.board .awayteams {
  width: 20%;
  float: left;
  margin-left: 25%;
  margin-right: -55%;
}

/* line 28, web/scss/style.scss */
.board .picks {
  width: 20%;
  float: left;
  margin-left: 70%;
  margin-right: -90%;
}

/* line 36, web/scss/style.scss */
.board .hometeams .pick.selected, .board .awayteams .pick.selected {
  border-color: transparent;
  color: transparent;
}